{% extends "d3/header.html" %}

{% block content %}
<div class="paragraph">
  <p>Similar to jQuery, d3 uses the DOM to select and traverse.</p>
  <p><code>d3.select("p").style("background-color", "red");</code></p>  
  <p>Yet styles, attributes, and other properties can be specified as functions of data in D3. For example, the <strong>d3.geoPath</strong> function projects geographic coordinates into Scalable Vector Graphic (SVG) path data.</p>
  <br>
  <img src="http://scottcheng.github.io/d3js-101/images/unemployment.png" alt="">
</div>


{% endblock %}