{% extends "d3/header.html" %}

{% block content %}

  <div class="paragraph">
    <p class="large-font">D3 stands for <strong>Data-Driven Documents</strong>. Sounds like it could be useful for big data...?</p>
    <p class="large-font">D3 is a JavaScript library. Most of what you code in D3 could be coded in plain javaScript, but it would take an enormous amount of JavaScript to do what D3 can do in a few lines.
    </p>
    <p class="large-font">Just like jQuery:</p>
    <p class="large-font"><code> &lt;script src="https://d3js.org/d3.v4.min.js"&gt;&lt;/script&gt;</code></p>
  </div>
  <p class="large-font"><code>$</code> => <code>d3</code></p>
  </div>


{% endblock %}